<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Search & Page</title>
</head>
<body>
    <h3>SEARCH & PAGE</h3>
    
    <form action="/product/search-and-page" method="post">
        <input name="keywords" th:value="${keywords}" placeholder="Keywords?">
        <button>Search</button>
    </form>
    
    <hr>
    
    <table border="1" style="width:100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Price</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="item: ${page.content}">
                <td th:text="${item.id}"></td>
                <td th:text="${item.name}"></td>
                <td th:text="${item.price}"></td>
                <td th:text="${item.createDate}"></td>
            </tr>
        </tbody>
    </table>
    
    <hr>
    
    <div style="text-align: center;">
        <a th:href="@{|/product/search-and-page?p=0|}">First</a>
        <a th:href="@{|/product/search-and-page?p=${page.number - 1}|}" th:if="${page.number > 0}">Previous</a>
        <a th:href="@{|/product/search-and-page?p=${page.number + 1}|}" th:if="${page.number < page.totalPages - 1}">Next</a>
        <a th:href="@{|/product/search-and-page?p=${page.totalPages - 1}|}">Last</a>
    </div>
    
    <ul>
        <li>Số thực thể hiện tại: [[${page.numberOfElements}]]</li>
        <li>Trang số: [[${page.number}]]</li>
        <li>Kích thước trang: [[${page.size}]]</li>
        <li>Tổng số thực thể: [[${page.totalElements}]]</li>
        <li>Tổng số trang: [[${page.totalPages}]]</li>
    </ul>
</body>
</html>